
.bookingPage{
    height: 100%;
    /* border: 1px solid black;  */
}
.bookingpageTitle{
    font-size: 2rem;
    text-align: center;
}
.bookingPageMainSection{
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.borrowingItem{
/* border: 1px solid black; */
background-color: thistle;
padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}