@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


.exploreCard{
margin-right: 1.5rem;
margin-bottom: 1.5rem;
border: 1px solid rgb(151, 150, 150);
border-radius: 0px;
transition:.2s

}
.exploreCard:hover > .exploreCardImg{
    /* transform: scale(1.05); */
    transition:.2s;
filter: brightness(0.4);

}

.exploreCardImg{
    height: 20rem;
    border: none;
    border-radius: 0px;
    padding:0px;

    }
.exploreBookIcon{
    width: 5rem;
    position: absolute;
    bottom: 10rem;
    right: -1rem;
    opacity: 0;
    /* transition: 0.15s; */
}
.exploreBookIcon2{
    width: 3rem;
    position: absolute;
    bottom: 10rem;
    right: -1rem;
    opacity: 1;
    /* transition: 0.15s; */

}
.exploreCardImg2:hover > .exploreBookIcon {
    /* transition: 0.15s; */
opacity: 1;}

.exploreCardImg2:hover > .exploreBookIcon2 {
    /* transition: 0.15s; */
    opacity: 0;
    ;}



.exploreCardBody{
    text-align: center;
}
.renderExploreAllBooksContainer{
    /* background: linear-gradient(to right, #f7f7f8, #f9f9fa); */
    background: linear-gradient(to right, #f0eef5, #e9e4f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* background-color: gainsboro; */
}
.renderExploreAllBooksRow{
    padding-left: 3rem;
    padding-top: 2rem;
    /* border: 1px solid black; */

}

.renderExploreAllBooksRow2{
    font-family: 'Lora', serif;
    border-bottom: 1px solid rgb(190, 189, 189);
    padding-top: 3rem;
    padding-bottom: 1rem;

    margin-top: 7.5vh;
    margin-left: 2rem;
    margin-right: 4rem;

    /* border: 1px solid black; */

}