@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');



.profilepage{
    /* border: 3px solid black; */
    padding: 0;

}

.userSection{
    /* border: 1px solid black; */
    padding:0;
    height: 35vh;
    position: relative;

background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.userAvatar{
    position: absolute;
    bottom: -20%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(117, 116, 116); */
    background-color: white;
    border-radius: 50%;
 width: 6rem;
height: 6rem;   
}
.userAvatarImage{
    border: 1px solid rgb(117, 116, 116);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.userProfileAddBook{
    display: flex;
    align-items: center;
   font-weight:bolder ;
    border: 1px solid rgb(133, 129, 129);
    border-radius: 5px;
    background-color: rgb(70, 224, 178);
    box-shadow: 9px 10px 5px -2px rgba(0,0,0,0.75);

}


.form-control{
    background-color: rgb(233, 230, 233);

};
.useAboutSection{
    position: relative;
    height: 10vh;
    /* border: 1px solid black;
    background-color: red; */
}
.mycollectionWrapper{
    border-top: 1px solid gray;
    margin-top: 1rem;
    padding-top: 10px;
        width: 70%;

}
.editaboutIcon{
    position: absolute;
    color: rgb(153, 151, 151);
    left: -1.8rem;
    top: 26px;
    font-size: 1.3rem;
}
.aboutMe{
    /* border: 1px solid black; */
    width: 70vw;
    padding-top: 1rem;
    color: rgb(83, 83, 83);
    font-family: 'Slabo 27px', serif;
    position: relative;
}

@media only screen and (max-width: 400px) {
.aboutMe{
display: flex;
padding-top: 1rem;
color: rgb(83, 83, 83);
font-family: 'Slabo 27px', serif;
}}
.featherpenIcon{
    position: absolute;
    left: 9.9rem;
    top: 1rem;
    width: 2.6rem;

}
.mycollection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileOpenwordIcon2{
     border: 1.1px solid black;
    border-radius: 5px;   
}
.profileUserName1{
    position: relative;
    margin-left: 3.2rem;
}
.profileOpenwordIcon{    
position: absolute;
left: -3rem;
top: -0.5rem;
    width: 4rem;
}

.userCreatedAt{
    position: absolute;
    width: 20vw;
    bottom: 0.3rem;
    font-family: 'Slabo 27px', serif;
    /* border: 1px solid black; */
    font-size: 0.9rem;
    font-style: normal !important;
    color: gray;
    margin-left: 3.3rem;
}

.profileAboutMe{
    /* border-top: 1px solid gray; */
position: absolute;
bottom: -11.5rem;
left:1rem;
height: fit-content;
width: 12.3vw;
/* box-shadow: 9px 10px 5px -2px rgba(0,0,0,0.75); */
background-image: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
}
.profileAboutMe1{
    padding-top: 8px;
    border-top: 1px solid gray;
}

.userProfile{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}
.userProfileMenu{
    /* border: 1px solid black; */
    padding-right: 10.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileIcon{
    top: 3.6rem;
    left: -4.2rem;
    position: absolute;
    width: 11rem;
    opacity: 0.4;
}
.userProfileLogout{
    display: flex;
    width: 8rem;
    justify-content: space-evenly;
    align-items: center;
   font-weight:bolder ;
    border: 1px solid black;
    border-radius: 5px;
    background: linear-gradient(to right, #ff9966, #ff5e62); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.75);


}
.profileUserName{
    font-family: 'Noto Serif', serif;
        font-size: 1.8rem;
        padding-left: 5rem;
        padding-bottom: 22px;
        position: relative;

}

.renderUserCollectionRow{
    /* border: 1px solid black; */
    margin-top: 3rem;   
    padding-top: 1.3rem;
    padding-left: 5.5rem;
    padding-bottom: 3rem;
}
.renderUserCollection{
        border: 1px solid rgb(161, 159, 159);
        background-color: rgb(241, 240, 232);
        box-shadow: 1px 2px 11px 7px rgb(230, 226, 181);

    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 70%;
}

.renderUserCollection:hover > .cardhere{
    background-color: wheat;}

.userCollectionRow{
width: 50rem !important;
background-color: violet;
display: flex;
}
.cardImg{
height: 20rem;
}
.cardImgChangeView{
    height: auto;
    width: 8.7rem;
}

.profileFormControl{
height:"2rem";
width:"14rem";
background-color: teal !important;
}

.cardhere{
    min-width: 14rem;
    margin: 0rem 2rem 4rem 0rem;
    border: none !important;
}

.cardhereViewChange{
    width: fit-content;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.card-img-overlay{
    padding:0;

}
.cardhere:hover{
    filter:drop-shadow(8px 8px 10px gray);
};
.cardImg:hover{
    filter:drop-shadow(8px 8px 10px gray) !important;
}

.usercollection{
    position: relative;
    border: 1px solid black;
    z-index: 0;
}
.userbookitems{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid black;
    background-color: rgb(228, 228, 228);
    height: 20rem;
    margin-left: 2rem;
    margin-right: 2rem;
}


/* .cardhere:hover > .btn{
    position: absolute;
    background-color: rgb(33, 166, 199);
    display: block;
} */


.deleteIcon:hover{
    color: rgb(238, 43, 43);
  border-radius: 50px;
background-color: rgb(104, 66, 59);
transition: 0.2s;

}

.profileBookCardBodyViewChange{
    padding: 0;
    width: 8.7rem;
    text-align: center;
    /* border: 1px solid rgb(136, 135, 135); */
}
.profileBookCardBody{
    /* border: 1px solid rgb(136, 135, 135); */
    padding:0;
    height: 5rem;
    background-color: rgb(241, 240, 232);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.profileRatingViewChange{
    display: none;
}

.profileCardTitleViewChange{
    font-size: 13px;
}
.profileCardTitle{

font-size: 18px;
   color: rgb(20, 173, 173); 
}
.profileCardAuthorViewChange{
    display: none;
}
.profileCardAuthor{
    padding-top: 7px;
    font-size: 17px;
   color: rgb(38, 133, 77); 
}
.profileCardAuthor2{
    color: black;
    font-weight: bold;
}
.deletebookbtn{
    z-index: 2;
    margin-top: 1rem;
    color: ivory;
    position: absolute;
    border: none;
    background-color: transparent;
}




.profilePageControl{
    /* border: 1px solid black; */
    display: flex;
}









































