

.availableSwiperContainer{
    /* border: 1px solid black; */
background-color: rgb(241, 236, 236);

-webkit-box-shadow: 3px 1px 36px 37px rgba(255,227,241,1);
-moz-box-shadow: 3px 1px 36px 37px rgba(255,227,241,1);
box-shadow: 3px 1px 36px 17px rgb(236, 230, 233);
}

.swipercard{
    border-radius: 0;
    margin: 2rem 1rem 2.5rem 1rem;
    padding: 1rem 0rem 1rem 0rem;
    width: 20rem !important;
    height: 23rem !important;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    background: #EFEFBB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D4D3DD, rgb(240, 240, 236));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D4D3DD, rgb(199, 199, 198)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.swipeimages{
    width: 14rem;
    -webkit-box-shadow: 6px 9px 5px 0px rgba(56,54,56,1);
    -moz-box-shadow: 6px 9px 5px 0px rgba(56,54,56,1);
    box-shadow: 6px 9px 5px 0px rgba(56,54,56,1);
}

.swipercard::-webkit-scrollbar{
    background-color: rgba(255, 0, 0, 0);
    height: 0.5rem;
    width: 10px;
    border-radius: 5px;
  }
  .swipercard::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 5px;
  }
  .swipercard::-webkit-scrollbar-track{
    background-color: transparent;
    width: 5px;
  }
  .swipercard:hover{
    transition: 0.5s;}
    .swipercard > img {transform: scale(1);}
    .swipercard:hover > img {
        transform: scale(1.08);
        filter: brightness(100%);
      }
        .swipercard img {transition: 0.5s;} 
    