@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    [class*="headerlogo"] {
      width: 10%;
    }
    [class*="headerlogoshrinked"] {
        width: 10%;
      }
  }

  @media only screen and (max-width: 600px) {
    [class*="headerlogo"] {
      width: 15%;
    }
    [class*="headerlogoshrinked"] {
        width: 10%;
      }
  }


.dropdown-toggle::after{
  display: none !important;
}
.testnavsearchbtn{
  position: absolute;
  right: 0;
}

.dropdown-item{
  padding: 0;
}
.dropdown-item.active,.dropdown-item:hover, .dropdown-item:active{
  background-color: rgb(230, 205, 226);
}

.testnavLogo{
  margin-left: 11rem;
  position: relative;
}
.testnavheaderlogo{
  position: absolute;
  width: 7rem;
  z-index: 3;
  
}
.testnavheaderlogoshrinked{
  position: absolute;
  width: 5rem;
  z-index: 3;

}
.brandIcon{
  width: 2rem;
  height: 2rem;
   border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black; 
}
.navbaropenwordIcon{
  position: absolute;
  width: 4.4rem;
left: -3.5rem;
top: -0.8rem;

}
.dropdown-menu.show{
  left: -8rem;
}


.navi{  height: 8vh;

  position: fixed;
color: black !important;
background-color: white;
border-bottom: 1px solid gainsboro;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.navisrhinked{
  
  box-shadow: 5px 5px 8px #b4b3b3;

  height: 11vh;
  background-color: rgb(203, 229, 230);
  position: fixed;
  color: black !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.dropdownProfile{
  padding: 0.3rem 0rem  0rem 0rem !important;
  margin: 0rem 0rem 0rem 0rem      ;
}
.dropdownItemlist{
  background-color: rgb(215, 223, 240);
}
.dropdown-menu.show {
padding: 0;
}

.caret {
  border-width: 10px;
}
.testnavuserIcon{
  font-size: 1.5rem;
}
.loginIcon{
  color: rgb(19, 83, 85);
}

.itemDropdown{
  font-size: 1.2rem;
  padding-left: 1.2rem;
}
.dropdownLink{
  color: black;
  padding-left: 7rem;
  width: 100px !important;
}
.userNameNav{
font-size: 20px;
color: rgb(11, 109, 68);

}
.testnavlogin{
  padding: 0;
  text-align: center;
  /* border: 1px solid ivory; */
  border-radius: 4px;
  background: transparent !important;
  font-size: 1.7rem;
  /* background: linear-gradient(to right, #d8dbdb, #c4e0e5);  */
}
.testnavlogout{
  padding: 0;
  font-size: 1.7rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  background-color: transparent;
} 

@media only screen and (max-width: 1100px) {
  /* For mobile phones: */
  [class*="navbar-nav"] {
    background-color: transparent;  }
}
