@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


.App{
    /* background: linear-gradient(to right, #f7f7f8, #f9f9fa); */
}

.navbarAbcontrol{
    border: 1px solid black !important;
    background-color: orangered !important;
    height: 10rem;
}
.homepagezlinks{
    /* border: 1px solid black; */
    /* border-bottom: 1px solid rgb(194, 192, 192); */
    margin-top: 6rem;
    padding: 1rem  6rem 1rem 11em  !important ;
    position: relative;
    z-index:2;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    }
.homepagezlinksrow{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* border: 1px solid black */
}
.linkhomepagez{
    border-style: none;
    background-color: transparent;
    width: 6rem;
    /* border: 1px solid black; */
}
.linkhomepagez::after{
    content:'';
    display: block;
    width: 0;
    height: 0.5px ;
    background-color: black;
    transition: width .3s;
}
.linkhomepagez:hover::after{
    width: 100%;
    background-color: black;
    transition: width .3s;
}
.colhome{
    /* border: 1px solid black; */
    margin-left: 1rem;
    margin-right: 3rem;
}



.passwordicon{
    position: absolute ;
    top: 2.8rem ;
    left: 5rem;
    color: gray;
}
.emailicon{
    position: absolute ;
    top: 2.8rem ;
    left: 5rem;
    color: gray;    

}

.forgotpass{
    /* border: 1px solid black; */
    padding: 0 !important;
}


.header{
    border: 1px solid black;
    padding: 0 !important;
    margin: 0 !important;
}
.headerimg{
    /* padding: 0rem 0rem  10rem 0rem !important;
    margin: 0; */
    left: 0px;
    position: absolute;
    width: 80rem;
    }


.usericons{
    margin-right: 0.5rem;
    font-size: 30px;
}


.headercontainer{
    border: 1px solid orange;
    margin: 0;

}


.headerimg{
    margin: 0;
}

.moreMark{
    margin-left: 80vw;
}
.homepagez{
    overflow: hidden;
    width: 100% !important;
    position: relative;
    /* border: 1px solid rgb(28, 179, 133); */
    
    background-color: rgb(255, 255, 255);
}
.homepagecolz{
    border: 1px solid black
}
.homepagezBannertest{
    height: 90vh;
    position: relative;
    /* border: 1px solid black; */

    overflow: hidden;
}
.openwordIcon{
    position: absolute;
    width: 4rem;
    left: 3px;
    bottom: 2.8rem;
}
.testbannerimg{
    width: 65rem;
    left: 14rem;
    height: 48rem;
    position: absolute;
    bottom:-6rem;
}
.bannerintro{
    z-index: 3;
    position: absolute;
    font-size: 45px;
    top: 1rem;
    color: gray;
    


}
.bannerintro2{margin-top: 9rem;}
.letterOshadow{
position: absolute;
/* color: linear-gradient(to right, #114357, #f29492); */
background: -webkit-linear-gradient( #114357, #f29492);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
opacity: 0.5;
left: 0.3rem;
top:-2.8rem;
font-size: 12rem;
}
.letterO{
    /* border: 1px solid black; */
    position: relative;
    font-size: 8.5rem;
    background: -webkit-linear-gradient( #141414, #1d0807);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.logodesign{
    padding-top: 10rem;
    padding-bottom: 10rem;
    position: relative;
    border: 1px solid black;
}
.logodesign1{
    left: 10rem;
    background-color: white;
bottom: 20px;           
    border: 1px solid orange;
    position: absolute;
}
.logodesign2{
    height: 15rem;
    width: 5rem;
    z-index: 10;
position: absolute;
border: 3px solid black;
width: fit-content;
}


.openwordshadow{
    position: absolute;
    width: 25rem;
    height: 4rem;
    bottom: 65%;
    left: 2.3rem;
    /* box-shadow: -1px 10px 43px -4px rgba(245, 160, 139, 0.596); */
    box-shadow: -1px 20px 43px -4px rgba(245, 160, 139, 0.596);
}

.bannerintrotitle{
    /* box-shadow: -1px 10px 43px -4px rgba(232,201,0,1); */
    /* box-shadow: 0 4px 21px -2px gray; */

    font-size: 75px;
    color: black;
    font-family: 'Old Standard TT', serif;
    position: absolute;
    top: 2rem;
    

}
.logoopenword{
    display: none;
}
@media only screen and (max-width: 500px) {
    /* For mobile phones: */
.bannerintrotitle {
        height: 1rem !important;
        overflow: hidden;
        margin: 0;
        display: none;
}
.openwordshadow{
display: none;
}
.logoopenword{
    display: block;
    width: 80%;
    padding: 0;
    margin: 0;
}.bannerintro2{margin-top: 1rem;}
.homepagezlinks{
    margin-top: 8rem;
    margin-bottom: 2rem;
    padding: 1rem  6rem 1rem 11em  !important ;
    position: relative;
    z-index:2;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    }
.aboutusbtn{
    margin-left: 7rem;
}
.testbannerimg{
width: 40rem;
height: 30rem;
top: 17rem;
left: 6rem;
}
  }

.readerspan{
    color: rgb(73, 52, 52)
}

.homepagezBanner{
    position: relative;
    overflow: hidden;   
    text-align: center;
    height: 30rem !important;
    /* border: 1px solid black; */
    /* background-color: tomato    ; */
}
.homepagezContent2{
    margin: 2rem 0rem 0rem 0rem       ;
    /* border: 1px solid black; */
}

.bookseparator{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}
/* .treetest{
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    height: 24rem;
    left: 0.1rem;
    top:-0.2rem;

} */

.treetest{
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    height: 24rem;

}
.containertestttt{
    /* border: 1px solid black; */
    position: relative;
    height: 65vh;
}

.containerbred{
    position: absolute;
    height: 60vh;
    right: -3%;
    /* border: 1px solid black; */
    box-shadow: -6px 2px 5px 7px rgb(128, 126, 128);
    z-index: 1 ;
    background-color: rgb(255, 255, 255);
    margin-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    /* background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/seamless_paper_texture.png); */
    
}

.testcontentz{
    position: relative;
    font-size: 45px;
    color: gray;
    /* border: 1px solid black; */
    position: relative;
    font-family: 'Corben', cursive;
}
.testcontentzcol1{
    position: absolute;


}
.testmorecontent{
    text-align: center;
}
.testkeeptrack{
    font-size: 25px;
font-weight: bold;
}
.testcontentzcol2{    position: absolute;
    top: 3.2rem;
    left: 5rem;
}
.testcontentzcol3{    position: absolute;
    top: 7rem;
    left: 5rem;
}

.aboutusbtn{
    position: relative;
    border:1px solid black !important;
    background-color: transparent !important;
    color: black !important;
    transition: .3s;
font-weight: bold !important;
}
.aboutusbtn1{
    position: absolute;
    top: 0.2rem;
    left: 0rem;
    height: 2.5rem;
    width: 6rem;
    border-radius: 5px;
    border:1px solid black ;
    box-shadow: -11px -11px 1px 0px rgba(0,0,0,0.75);
    transition: .3s;

}
.aboutusbtn1:hover{
    transition: .3s;
    position: absolute;
    top: 0.3rem;
    left: 0rem;
    box-shadow: -11px -5px 1px 0px rgba(194, 131, 131, 0.75);
}
.aboutusbtn:hover{
    transition: .3s;
font-size: 18px;
}






.seemorebtn{
    position: relative;
    display: flex;
    align-items: center !important;
    width: 4rem;    
    height: 1.5rem;
    background-color: transparent !important;
    transition: .3s !important;

}

















.signupbtn{
    position: relative;
    border: 1px solid black;
    background-color: transparent !important;
    color: black !important;
    font-size: 18px !important;
    transition: .3s !important;

}
.signupbtn1{
    position: absolute;
    left: -1rem;
    height: 2.5rem;
    width: 6rem;
    border-radius: 5px;
    border: 1px solid black;
    transition: .3s !important;
    box-shadow: 15px -13px 1px 0px rgba(194, 131, 131, 0.75);
}
.signupbtn:hover{
    transition: .3s !important;
    font-size: 18.2px !important;

}
.signupbtn1:hover{
    position: absolute;
    left: 0.1rem;
    top:0.4rem;
    transition: .3s !important;
    box-shadow: -1.5rem -1rem 1px 0px rgba(233, 55, 55, 0.75);
}



.sprdknowledge{
    font-size: 30px;
    font-family: 'Old Standard TT', serif;

}

.txtread{
    font-size: 55px;
    color: rgb(126, 27, 57);
    font-family: 'Satisfy', cursive;
}
.txtlend{
    font-size: 60px;
    color: rgb(172, 55, 99);
    font-family: 'Old Standard TT', serif;
}
.txtborrow{ 
    font-size: 62px;
    color: rgb(117, 69, 69);
    font-family: 'Sacramento', cursive;
}
.testcontentzIcon{
    text-align: center;
    position: absolute;
    bottom: 2rem;
    height: 6rem;
    border-top: 1px solid rgb(145, 142, 142);
    padding-top: 1rem;
    width: 100%;
}

@media only screen and (max-width: 400px) {
    .containerbred {
        height: 80vh;
    }
    .testcontentzIcon{
        bottom: 6rem;
     }
 }





.bookseparatorimg{
height: 7rem;
}

.categoriesexplore{
    position: relative;
    margin-left: 3.3rem !important;
    width: 36rem;
    border: 1px solid black;

}
.categoriesexploreflourish{
    top: 0px;
    width: 10rem;
    position: absolute;
}



.reviewz{
    /* border: 2px solid black; */
    width: 30rem;
}
.reviewzcontent{
        /* border: 2px solid black; */
    position: relative;
    padding-top:5rem;
    padding-bottom: 0.5rem;
        -webkit-box-shadow: 2px 2px 5px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 5px 4px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 5px 4px rgba(63, 63, 63, 0.75);    
    
    }
.reviewtitle{
    top: 2rem;
    left: -3rem;
        color: tomato;
        font-size: 34px;
        background-color: rgb(255, 255, 255);
        position: absolute;
border-bottom: 1px solid gray;
border-top: 1px solid gray;

    }    
        
.reviewtext{
background-color: rgb(231, 214, 231);
border-radius: 5px;
padding: 5px;
margin-top: 8px;
margin-left: 8px;   
margin-right: 8px;   


font-family: 'Roboto Slab', serif;
}

.ftreview{
    position: relative;


    font-size: 34px;
    font-weight: bold;
    font-family: 'Old Standard TT', serif;
    margin-bottom: 2rem;
}
.ftreviewflourish{
    top: 0px;
    width: 10rem;
    position: absolute;
}

.separator{
    height: 1px !important;
    background-color: gray;
    width: 15rem !important;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.row1homepage{
    border: 1px solid black;
    margin-left: 2.3rem;
    width: 100vw;
}

.reviewer{
    font-size: 23px;
}
.reviewdetail{
    display: flex;
    align-items: center;
}

.innerRow{
    padding: 0rem   2rem 0rem 0rem   ;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.introwrapperimg{
    margin: 0px 2rem 0rem 0px;
    overflow: hidden;
    height: 10rem;
    width: 10rem;
    border: 2px solid black;
border-radius: 50% !important;
}
.introwrapper{
    width: 12rem;
    /* border: 1px solid black; */
}
.midsectionz{
    height: 90vh;
    margin: 0 !important;
    padding: 0 !important;

    /* border: 1px solid rgb(14, 13, 13); */
}
.categoryfilter{
    border: 1px solid rgb(14, 13, 13);
  
}
.btnfilter{
    background-color: darkgray !important;
}
.btnfilter2{
    background-color: rgb(139, 139, 139) !important;

}
.btnfilter3{    background-color: rgb(121, 118, 118) !important;
}
.btnfilter:hover{
    background-color: rgb(209, 183, 183) !important;

}
.btnfilter2:hover{
    background-color: rgb(209, 183, 183) !important;

}
.btnfilter3:hover{
    background-color: rgb(209, 183, 183) !important;

}

.separator{
    margin: 1rem  0rem  1rem  0rem ;
    height: 1rem;
    width: 50vw;
    background-color: darkgray;
}

.aboutus{
    border: 3px solid rgb(192, 26, 26);
margin-bottom: 5rem;
}

.bookslide{
    /* border: 1px solid black; */
}

.bookslide1{
    margin-top: 3rem;
    /* border: 0.5px solid rgb(163, 158, 158); */
    height: fit-content;
    /* background-color: rgb(228, 232, 238); */
}
.swipeimg{
    text-align: center;
    background-color: rgb(228, 232, 238);
 padding: 1.3rem;

}
.swiperavailimg{
    box-shadow: 4px 2px 5px 7px rgb(70, 69, 69);
}
.swiperavailbookdetail{
    margin-top: 1rem;
}
.availablerow{
    /* border: 1px solid black; */
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Old Standard TT', serif;

}
.availablerowimg{
    width: 5rem;
    top :0px;
    left:35%;
    position: absolute;
}
.availablerowflourish{
    top :-0.7rem;
    left:40%;
    position: absolute;
    opacity: 0.5;
}





.viewallbtn{
    margin-left: 2rem;
    width: 8rem;
    height: 2rem;
    position: relative;
border: 1px solid gray;
box-shadow: -19px -15px 0px 0px rgba(240, 70, 70, 0.233);
transition: 0.3s;


}

.viewallbtn2{
    width: 8rem;
    height: 2rem;
    left: 1rem;
    top: 1.3rem;
    position: absolute;
    background-color: rgba(0, 128, 107, 0.205);
    transition: 0.3s;

}
.viewallbtn:hover{
    box-shadow: 10px 5px 0px 0px rgba(247, 171, 7, 0.575);
    transition: 0.3s;
    font-weight: bold;
}

.viewallbtn:hover >  .viewallbtn2   {
    background-color: rgba(247, 63, 30, 0.205);
    transform: translate(-30px, -38px);
    transition: 0.3s;

}





.bookshelfbanner{
    height: 15rem;
overflow: hidden;
background-color: gray;
/* border: 2px solid black; */
filter: grayscale(20%);
opacity: 0.2;

}
.bookshelfimg{
    padding-right: 10rem;
    padding-bottom: 10rem !important;
width: 130vw;
}


.socialbtns{
 margin:0rem  0.5rem 0rem 0.5rem     !important;
}

.treeimg{
    opacity: 0.4;
    top: 10rem;
    position: absolute;
    z-index: 1;
}


.fromusertouser{
    font-size: 15px;
    color: rgb(143, 141, 141);
}
.endingz{
    position: relative;
}
.endingimg{
    display: block;

}







































